@using Framework.Domain.Entities;
@model List<Article>
@{
    ViewData["Title"] = "Anasayfa";
}

<div class="tm-home-img-container">
    <img src="/img/tm-home-img.jpg" alt="Image" class="hidden-lg-up img-fluid">
</div>

<section class="tm-section">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="tm-blog-post">
                    <h3 class="tm-gold-text">Son 10 Makale</h3>
                </div>

                <div class="row tm-margin-t-big">

                    @foreach (var item in Model)
                    {
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-4" style="margin-bottom:18px;">

                            <div class="tm-content-box">
                                <img src="@item.Photo" alt="Image" class="tm-margin-b-30 img-fluid">
                                <h4 class="tm-margin-b-20 tm-gold-text"><a asp-action="Index" asp-controller="Article" asp-route-id="@item.Id">@item.Title</a></h4>
                                <a asp-action="Index" asp-controller="Authority" asp-route-id="@item.UserId" class="tm-btn text-uppercase">Yazar : @item.User.FullName</a>
                            </div>

                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</section>